.wrapper {
    border: 15px solid;
}
.header {
    display: flex;
    width: 850px;
    height: 250px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.headerContainer{
    
}
.box{
    float:left;
    margin-right:15px;
    width:200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    padding:1em ;
    background-color: darkblue;
    position: absolute;
    top: 150px;
    
}
.headerText {
    position: absolute;
    top: 160px;
    left: 300px;
}
.webText {
    position: absolute;
    top: 215px;
    left: 300px;
}
.nav{
    display: flex;
    border: 1px solid black;
    justify-content: flex-end;
    width: 850px;
}
.tabs {
    padding: 14px 16px;
}
.nav a:hover{
    background-color: #3b5998;
    color: black;
}
.container-box {
display: flex;
}
.left{
display: flex;
width: 328px;
height: 700px;
border: 2px solid black;
border-radius: 10px; 
border-color: solid rgb(5, 5, 5);

}
.right{
width: 512px;
display: flex;
height: 700px;
border: 2px solid black;
border-radius: 10px;
margin: 10px;

}
.about{
    position: relative;
    top: 100px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background: #3b5998;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.photos {

    position: relative;
    top: 300px ;
    margin-right: 20%;
    width: 200px;
    height: 150px;
    border: 2px solid black;
    background-color: #3b5998;
    text-align: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.feed{
    position: relative;
    top: 300px ;
    margin-right: 20%;
    width: 600px;
    height: 150px;
    border: 2px solid black;
    background-color: #3b5998;
    text-align: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:block;
    font-size: 14px; 


}

.rightphotos {

    position: absolute;
    top: 900px ;
    margin-right: 10px;
    float:right;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-color: #3b5998;
    text-align: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.boxright {

    position: relative;
    top: 100px ;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-color: #3b5998;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}